body{
    font-family: Arial, sans-serif; 
    background-color: #1b1b1b;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    cursor: default;
}
.top-bar{
    background-color: #0082e6;
    color: #ffffff; 
    font-size: 12px; 
    padding: 8px 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.top-bar-inner{
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    max-width: 1200px; 
    align-items: center;
}
.left-section{
    display: flex; 
    align-items: center;
}
.left-section span{
    margin-right: 15px;
}
.left-section a{
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
}
.left-section a:hover{
    color: #ffa500;
}
.right-section{
    display: flex; 
    align-items: center;
}
.right-section a{
    margin-right: 15px; 
    text-decoration: none; 
    color: #ffffff;
}
.right-section a:hover{
    color: #fd7e14;
}
.top-bar-inner2{
    margin-top: 8px; 
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    max-width: 1200px; 
    align-items: center;
}
.top-bar-inner2 div{
    display: flex; 
    align-items: center;
}
.logo{
    margin-right: 15px; 
    font-weight: bold; 
    font-size: 18px; 
    display: flex; 
    align-items: center;
}
.logo img{
    width: 30px;
}
.logo a{
    font-size: 25px;
    color: #ffffff; 
    text-decoration: none;
}
.main-nav{
    display: flex; 
    align-items: center; 
    margin-left: 12px; 
    font-size: 18px; 
    font-weight: bold;
}
.main-nav a{
    margin-right: 15px; 
    text-decoration: none; 
    color: #ffffff;
}
.main-nav a:hover{
    color: #1a2a3a;
    font-weight: bold;
}
.icon-container{
    display: flex;
    align-items: center;
}
.icon-link{
    margin-right: 15px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}
.fa-user-circle{
    font-size: 35px;
}
.icon-separator{
    margin-right: 15px;
    font-size: 20px;
}
.user-info{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.user-info span{
    margin-right: 10px;
    font-weight: bold;
}
.warning-icon{
    color: orange;
    margin-right: 5px;
    font-size: 20px;
}
.main-nav-container{
    width: 100%; 
    background-color: #1a2a3a; 
    padding: 8px 0; 
    display: flex; 
    justify-content: center;
}
.main-nav-inner{
    max-width: 1200px; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.main-nav-inner a{
    margin-right: 15px; 
    text-decoration: none; 
    color: #ffffff;
    font-weight: bold;
}
.main-nav-inner a:hover{
    color: #fd7e14;
}
.main-layout{
    display: flex; 
    max-width: 1200px; 
    margin: 20px auto; 
    gap: 20px;
    align-items: flex-start;
    flex: 1;
}
.side-menu{
    width: 220px; 
    background-color: #2a2a2a; 
    border-radius: 5px;
    padding-bottom: 5px;
}
.header{
    background-color: #1a2a3a;
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 8px;
}
.search-container{
    margin-bottom: 15px;
    padding: 0 8px;
    position: relative;
}
.search-icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    padding-left: 8px;
}
.search-input{
    width: 100%;
    padding: 5px 5px 5px 30px;
    border-radius: 5px;
    border: none;
    background-color: #2a2a2a;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.button-container{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0 5px;
}
.button{
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #ffffff;
    font-weight: bold;
}
.button:hover{
    background-color: #444;
    color: #fd7e14;
}
.sport-list{
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.sport-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #3a3a3a;
}
.sport-item:hover{
    background-color: #444;
}
.section{
    background-color: #333333;
    border-radius: 10px;
}
.section-matches{
    background-color: #333333;
    border-radius: 10px;
    padding-bottom: 10px;
}
.section-header{
    background-color: #1a2a3a;
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 15px;
}
.top-matches-table{
    width: 100%;
    color: #aaa;
    border-collapse: collapse;
    font-size: 14px;
}
.match-row{
    border-bottom: 1px solid #444;
}
.match-cell{
    padding: 10px;
}
.match-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.match-details{
    display: flex;
    align-items: center;
}
.icon-star{
    color: #ffffff;
    margin-right: 8px;
}
.match-league{
    font-size: 12px;
    color: #aaa;
}
.odds-container{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.odds-block{
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #4d9fef;
}
.odds-block:hover{
    background-color: #0082e6;
    color: #ffffff;
    cursor: pointer;
}
.button-container{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding: 10px;
}
.action-button{
    flex: 1;
    background-color: #0056b3;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.teams{
    color: #ffffff; 
    font-weight: bold;
}
.plus{
    display: flex; 
    gap: 10px;
}
.plus:hover{
    cursor: pointer;
}
.plus span, .fa-chart-line, .fa-tv{
    color: #4d9fef;
}
.match-details .fa-hockey-puck{
    padding-right: 10px; color: #ffffff;
}
.match-details .fa-futbol{
    padding-right: 10px; color: #ffffff;
}
.special-offer{
    background-color: #333333;
    border-radius: 10px;
    margin-bottom: 20px;
}
.special-offer-header{
    background-color: #1a2a3a;
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 15px;
}
.special-offer-container{
    display: flex;
    gap: 10px;
}
.offer-item{
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
    text-align: left;
    position: relative;
    margin: 0 8px 8px 8px;
}
.offer-title{
    margin: 0;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.offer-date{
    font-size: 12px;
    color: #bbb;
    margin: 5px 0;
}
.offer-description{
    color: #ffffff;
    font-size: 13px;
}
.odds-box{
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.odds-box:hover{
    cursor: pointer;
    background-color: #0082e6;
}
.team-name{
    color: #ccc;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}
.odds-value{
    color: #4d9fef;
    font-weight: bold;
    font-size: 15px;
}
.odds-box:hover .team-name, .odds-box:hover .odds-value{
    color: #ffffff;
}
.main-content{
    flex: 1;
    width: auto;
}
.main-content-matches, .main-content-profile{
    flex: 1;
    width: 700px;
}
.offer-title .fa-hockey-puck{
    padding-right: 10px;
}
.blog-section{
    background-color: #333333;
    border-radius: 10px;
    margin-bottom: 20px;
}
.blog-header{
    background-color: #1a2a3a;
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}
.blog-content{
    display: flex;
}
.blog-image{
    width: 240px;
    height: 170px;
    margin-right: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.blog-text{
    color: #aaa;
    max-width: 375px;
}
.blog-title{
    color: #ffffff;
    font-weight: bold;
    margin: 0 0 7px;
    font-size: 18px;
}
.blog-description{
    font-size: 15px;
}
.right-panel-style{
    width: 250px;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 5px;
}
.ticket-widget-style{
    background-color: #333333;
    padding: 5px;
    border-radius: 10px;
}
.ticket-header-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2a3a;
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
}
.ticket-tabs-style{
    display: flex;
    gap: 10px;
    margin-left: auto;
}
.tab-active-style{
    color: #ffa500;
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px;
    border-bottom: 2px solid #ffa500;
}
.tab-inactive-style{
    color: #ffffff;
    cursor: pointer;
    padding: 0 5px;
}
.pin-icon-style{
    color: #ffffff;
    font-size: 16px;
    margin-left: 10px;
}
.ticket-content-style{
    background-color: #2a2a2a;
    padding: 12px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #cccccc;
}
.info-icon-style{
    color: #cccccc;
    margin-right: 8px;
}
.ticket-arena-widget-style{
    background-color: #333333;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}
.ticket-arena-header-style{
    background-color: #1a2a3a;
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
}
.ticket-arena-entry-style{
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.user-icon-style{
    color: #cccccc;
    font-size: 30px;
    margin-right: 10px;
}
.entry-details-style{
    flex-grow: 1;
}
.ticket-arena-entry-style:hover{
    background-color: #444;
    cursor: pointer;
}
.entry-name-style{
    color: #ffffff;
    font-weight: bold;
}
.entry-inspirations-style{
    color: #cccccc;
    font-size: 12px;
}
.entry-stats-style{
    margin: 5px 0;
    color: #cccccc;
    font-size: 12px;
}
.question-icon-style{
    color: #888888;
}
.footer-style{
    background-color: #3a3a3a;
    padding: 15px 20px;
    color: #cccccc;
    text-align: center;
    font-size: 13px;
    width: 100%;
}
.footer-text{
    color: #ffffff;
    margin: 0;
}
.sport_href, .ticket_info_href, .profile_info_href{
    text-decoration: none; 
    color: inherit;
}
.icon-star:hover::before{
    font-weight: 900;
    color: #fd7e14;
    cursor: pointer;
}
.ticket_info_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #3a3a3a;
}
.ticket_info_item:hover{
    background-color: #444;
}
.ticket_info-list{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
}
.section_ticket{
    background-color: #333333;
    border-radius: 10px;
    padding-bottom: 5px;
}
.tickets_header{
    background-color: #1a2a3a;
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    width: auto;
}
.ticket-container{
    background-color: #222;
    padding: 6px 8px;
    margin: 8px 6px;
    border-radius: 5px;
    display: flex;
    max-width: 100%;
    width: 570px;
    font-weight: bold;
}
.ticket-container:hover{
    background-color: #555;
}
.ticket-red-line{
    width: 4px;
    background-color: red;
    margin-right: 8px;
}
.ticket-green-line{
    width: 4px;
    background-color: green;
    margin-right: 8px;
}
.ticket-content{
    flex: 1;
}
.ticket-header{
    display: flex;
    align-items: center;
}
.ticket-date{
    color: #ccc;
    font-size: 10px;
}
.ticket-red{
    margin-left: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticket-close-icon{
    color: white;
    font-size: 10px;
}
.ticket-title{
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    margin: 3px 0;
}
.ticket-subtitle{
    color: #999999;
    font-size: 11px;
    margin: 0;
}
.ticket-separator{
    border: 0.5px solid #333333;
    margin: 5px 0;
}
.ticket-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
}
.ticket-detail{
    color: #cccccc;
    font-size: 11px;
}
.ticket-bold{
    color: #ffffff;
    font-weight: bold;
}
.ticket-green{
    margin-left: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_info-list{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
}
.profile_info_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #3a3a3a;
}
.profile_info_item:hover{
    background-color: #444;
}
.profile_header{
    background-color: #1a2a3a;
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    width: auto;
    margin-bottom: 10px;
}
.section_profile{
    background-color: #333333;
    border-radius: 10px;
    padding-bottom: 5px;
}
.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.profile-icon{
    font-size: 80px;
    color: #cccccc;
    margin-right: 20px;
}
.profile-username{
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.profile-status{
    font-size: 14px;
    color: #bbbbbb;
    margin-top: 5px;
    text-align: center;
}
.profile-info{
    margin-bottom: 20px;
    text-align: center;
}
.profile-info-item{
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 8px;
}
.profile-info-value{
    color: #ffffff;
}
.profile-stats{
    border-top: 1px solid #444;
    padding-top: 15px;
    text-align: center;
}
.profile-stats-title{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}
.profile-stats-container{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #cccccc;
    gap: 50px;
    padding-bottom: 5px;
}
.profile-stats-value{
    color: #ffffff;
}
.dropdown-container{
    position: relative;
    display: inline-block;
}
.dropdown-toggle{
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #0082e6;
    padding: 10px;
    border-radius: 5px;
    top: 100%;
    left: 0;
    min-width: 180px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
}
.dropdown-container:hover > .dropdown-menu{
    display: block;
    opacity: 1;
    visibility: visible;
}
.dropdown-item{
    color: #ffffff;
    padding: 8px;
    display: block;
    text-decoration: none;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}
.dropdown-item:hover{
    background-color: #0082e6;
}
.dropdown-item .dropdown-container{
    position: relative;
}
.dropdown-item .dropdown-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 80%;
    background-color: #0082e6;
    padding: 10px;
    border-radius: 5px;
    min-width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
}
.dropdown-item:hover > .dropdown-menu{
    display: block;
    opacity: 1;
    visibility: visible;
}
.my-carousel-container{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 690px;
    height: 200px;
}
.my-carousel-content{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
.my-carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.my-carousel-arrow {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.my-left-arrow{
    left: 6px;
}
.my-right-arrow{
    right: 6px;
}
.my-modal-overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}
.my-modal-image{
    width: 500px;
    height: auto;
}
.my-modal-close-button{
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 60px;
    cursor: pointer;
}
.auth-button{
    background-color: #0082e6;
    color: #ffffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}
.register-button{
    margin-right: 10px;
}
.modal-overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    align-items: center;
    justify-content: center;
}
.modal-content{
    background-color: #1b1b1b;
    padding: 25px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
}
.modal-title{
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}
.modal-label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}
.modal-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.modal-button{
    background-color: #0082e6;
    color: #ffffff;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}